<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrjFinalProj"
        tools:targetApi="31">
        <activity
            android:name=".NotesTakerActivity"
            android:theme="@style/Theme.PrjFinalProj.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".Main.BudgetPlannerSection"
            android:exported="false" />
        <activity
            android:name=".Main.InputNewExpense"
            android:exported="false" />
        <activity
            android:name=".Main.InputNewIncome"
            android:exported="false" />
        <activity
            android:name=".Tasks.Tasks"
            android:exported="false" />
        <activity
            android:name=".Main.SettingsSection"
            android:exported="false" />
        <activity
            android:name=".Main.ScanSection"
            android:exported="false" />
        <activity
            android:name=".Main.CalendarSection"
            android:exported="false" />
        <activity
            android:name=".Main.TrackSection"
            android:exported="false" />
        <activity
            android:name=".Main.ManageSection"
            android:exported="false" />
        <activity
            android:name=".Main.MainMenu"
            android:exported="false" />
        <activity
            android:name=".Main.register_section"
            android:exported="false" />
        <activity
            android:name=".Main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Main.Reminder" />
    </application>

</manifest>